* {
  margin: 0;
  padding: 0;
}
:root {
  --red: hsl(0, 100%, 68%);
  --darkBlue: hsl(230, 29%, 20%);
  --darkGrey: hsl(230, 11%, 40%);
  --grey: hsl(231, 7%, 65%);
  --lightGrey: hsl(207, 33%, 95%);
  --barlowCondensed: "Barlow Condensed", sans-serif;
  --barlow: "Barlow", sans-serif;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: var(--barlow);
  color: var(--darkBlue);
}
nav {
  width: 80%;
  margin: 38px auto 64px;
  display: flex;
  justify-content: space-between;
}
.menudesktop {
  display: none;
}
.burger {
  display: none;
}
.menumobile {
  display: none;
  position: absolute;
  display: none;
  width: 311px;
  height: 230px;
  top: 100px;
  right: 10%;
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.158);
  text-align: center;
}
.menumobile a {
  font-family: var(--barlowCondensed);
  margin: 24px auto 24px;
  display: block;
  text-transform: uppercase;
  color: var(--darkBlue);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}
.menumobile a:last-of-type {
  color: var(--grey);
}
.linemenumobile {
  margin: 0 auto;
  width: 263px;
  height: 1px;
  background-color: var(--lightGrey);
}
.close {
  display: none;
}
.show {
  display: block;
}
.iilustrations {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.grey {
  position: absolute;
  top: -38px;
  right: 0;
  width: 50%;
  height: 425px;
  background-color: var(--lightGrey);
  z-index: -1;
  border-radius: 0 0 0 60px;
}
.illustrations img {
  margin-bottom: 87px;
  width: 138%;
}
.main-text {
  margin: 0 auto;
  width: 85%;
}
.new {
  margin-bottom: 16px;
  font-size: 15px;
  font-family: var(--barlowCondensed);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--grey);
}
.new span {
  margin-right: 16px;
  color: white;
  background-color: black;
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 13px;
  letter-spacing: 0;
}
h1 {
  margin-bottom: 16px;
  font-family: var(--barlowCondensed);
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.main-text > p:nth-child(3) {
  margin-bottom: 27px;
  width: 80%;
  color: var(--darkGrey);
}
.schedule {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule a {
  padding: 12px 25px;
  font-size: 14px;
  color: white;
  background-color: var(--red);
  text-transform: uppercase;
  font-family: var(--barlowCondensed);
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 5px;
}
.schedule p {
  text-transform: uppercase;
  color: var(--grey);
  font-family: var(--barlowCondensed);
  font-size: 14px;
  letter-spacing: 2px;
}
footer {
  font-size: 10px;
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (min-width: 1024px) {
  nav {
    width: 70%;
    margin: 64px auto 124px;
  }
  .menudesktop {
    display: block;
  }
  .menudesktop a {
    font-size: 15px;
    font-family: var(--barlowCondensed);
    margin-left: 41px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: var(--darkBlue);
    border-bottom: none;
    transition: 0.3s;
  }
  .menudesktop a:hover {
    border-bottom: 2px solid var(--darkBlue);
  }
  .menudesktop a:last-of-type {
    color: var(--grey);
  }
  .menudesktop a:last-of-type:hover {
    border-bottom: 2px solid var(--grey);
  }
  .menudesktop i {
    font-size: 6px;
    vertical-align: middle;
    margin-left: 41px;
    color: var(--grey);
  }
  nav div:last-of-type {
    display: none;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  .grey {
    top: -65px;
  }
  .illustrations img {
    margin-bottom: 0;
    width: 90%;
  }
  .main-text {
    margin: 50px auto 0 15%;
    width: 30%;
  }
  h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 64px;
  }
  .main-text > p:nth-child(3) {
    margin-bottom: 64px;
    width: 50%;
    font-size: 18px;
    line-height: 26px;
  }
  .schedule {
    width: 400px;
    margin-bottom: 0;
  }
  .schedule a {
    padding: 15px 30px;
    font-size: 16px;
    transition: 0.3s;
  }
  .schedule a:hover {
    background-color: #ff8686;
  }
  .schedule p {
    font-size: 18px;
  }
  footer {
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
  }
  footer a {
    color: black;
    text-decoration: none;
  }
}
