* {
  margin: 0;
  padding: 0;
}
:root {
  --red: hsl(0, 100%, 68%);
  --darkBlue: hsl(230, 29%, 20%);
  --darkGrey: hsl(230, 11%, 40%);
  --grey: hsl(231, 7%, 65%);
  --lightGrey: hsl(207, 33%, 95%);
  --barlowCondensed: "Barlow Condensed", sans-serif;
  --barlow: "Barlow", sans-serif;
}
